<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApUURcuXqKLdLL93AyLSb-iKXJaOl4p1o</string>
	<key>GCM_SENDER_ID</key>
	<string>522279942618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashcardAppMobile</string>
	<key>PROJECT_ID</key>
	<string>flashcard-app-e33db</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcard-app-e33db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522279942618:ios:5ba24090ea0eeb5bda68e3</string>
</dict>
</plist>